/* label color */
   .input-field label {
     color: black;
   }
   /* label focus color */
   .input-field #name:focus + label[for=train_name] {
     color: black;
   }
   /* label underline focus color */
   .input-field #name:focus {
     color: black;
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }

   .input-field #destination:focus {
     color: black;
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }

   .input-field #ftt:focus {
     color: black;
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }

   .input-field #frequency:focus {
     color: black;
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }

   .input-field #name:focus {
     color: black;
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
 /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }
    /* icon prefix focus color */
   .input-field .prefix.active {
     color: white;
   }

   /*.nav-container{
    background-image: url("../images/train.png") !important;
   }*/